@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color:rgb(225, 225, 225);
  transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
}
* {
  font-family: 'Poppins', Arial, sans-serif;
}
.custom-toast-container {
  top: 20px !important; /* Moves the toast down */
}

.Toastify__toast {
  @apply bg-purple-600 bg-opacity-50 text-white rounded-lg; 
}




